body {
  padding-top: 15px;
}

#max {
    float: right;
    color: #9E9D9B;
    line-height: 30px;
}

#min {
    float: left;
    color:#9E9D9B;
    line-height: 30px;
}

/* this code is from `https://codepen.io/aklatzke/pen/JwcCx` */
div.social-wrap.c button {
    text-align: center;
/*
    padding-left: 35px;
    padding-right: 0px;
*/
    height: 40px;
    background: none;
    border: none;
/*
    display: block;
*/
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    width: 235px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
/*
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
*/
}

#twitter-login {
    text-align: center;
}

div.social-wrap.c > .twitter {
    background-image: url(https://g.twimg.com/Twitter_logo_white.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}

div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
/* end of twitter styling */

.progress-bar {
    width: 200px;
    background-color: #2C82C9;
}

.jumbotron {
    background: #EEFF6B;
}

.jumbotron h1 {
    color: #08AAC7;
}

#predict-facebook {
    line-height: 150%;
}

/*
#next-div {
    display: inline-block;
}
*/

/*
#fb-predict-div {
    display: inline-block;
}
*/

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

.footer-text {
    color: #9DA5A6;
    text-align: center;
}

#submit {
    display: inline-block;
} 

#next {
    display: inline-block;
}

#logout {
    font-size: 15px;
    text-align: center;
    line-height: 3px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
}

#fb-login {
    height: 150px; 
    text-align: center;
}



#status {
    color: #3B5998;
    text-align: center;
}

.range-slider-label {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 35px;
}
/*
input[type=range]:hover {
    cursor: pointer;
}
*/

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    border-radius: 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #62C462),
        color-stop(0, #DDE6D6)
    );
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #FFC153;
    margin-top: -6px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

/*
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #CACEAD;
} 

*/
input[type=range]:focus::-webkit-slider-thumb {
    background: #FF8B55; 
}


.range-slider {
    margin-top: 30px;
    margin-bottom: 55px;
}

#quiz span {
    line-height: 220%;
}
